service cloud.firestore {
  match /databases/{database}/documents {

    match /projects/{projectId} {
      allow read: if true;

      allow create: if request.auth.uid != null
        && request.resource.data.ownerId == request.auth.uid
        && request.resource.data.createdAt is timestamp
        && request.resource.data.title is string
        && request.resource.data.description is string
        && request.resource.data.projectType is string
        && request.resource.data.country is string
        && request.resource.data.organizationName is string
        && request.resource.data.organizationType is string
        && request.resource.data.organizationLogo is string
        && request.resource.data.organizationDescription is string
        && request.resource.data.email is string
        && request.resource.data.organizationUrl is string
        && request.resource.data.deleted == null;

      allow update: if get(/databases/$(database)/documents/projects/$(projectId)).data.ownerId == request.auth.uid;

      match /volunteers/{userId} {
        allow create: if request.auth.uid != userId
          && request.resource.data.email is string
          && request.resource.data.email is string;
      }
    }
  }
}
