service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      allow read;

      allow create: if request.auth.uid != null
        && resource.data.ownerId == request.auth.uid
        && resource.data.createdAt is timestamp || null
        && resource.data.title is string
        && resource.data.description is string
        && resource.data.projectType is string
        && resource.data.country is string
        && resource.data.organizationName is string
        && resource.data.organizationType is string
        && resource.data.organizationLogo is string
        && resource.data.organizationDescription is string
        && resource.data.email is string
        && resource.data.organizationUrl is string
        && resource.data.deleted is null;

      allow update: if get(/databases/$(database)/documents/projects/$(projectId)).data.ownerId == request.auth.uid;

      match /volunteers/{userId} {
        allow create: if request.auth.uid !== userId
          && resource.data.email is string
          && resource.data.email is string;
      }
    }
  }
}
