colorOffWhite = #f8f9fa
colorLightGray = #eaebec
colorDarkBlue = #232f41
colorPrimaryBlue = #499AFF
colorHighlight = #f3f4f5
colorHighlightBlue = rgba(colorPrimaryBlue, .075)
colorGray = #dae1e9
colorGreen = #24C875
colorRed = #d0021b
colorLink = colorPrimaryBlue

fontColorBase = colorDarkBlue

fontFamilyBase = "Avenir", Helvetica, Arial, sans-serif

fontSizeBase = 16px
fontSizeBaseTablet = 14px
fontSizeBaseMobile = 13px
fontSizeSmall = 0.875rem

lineHeightBase = (20 / 14)
lineHeightSmall = (18 / 14)
lineHeightTiny = (16 / 14)

transitionBase = 0.2s
transitionLong = 0.4s

spacingLarge = 3rem
spacingBase = 1.5rem
spacingSmall = 1rem
spacingTiny = 0.5rem

borderRadiusBase = 3px
borderRadiusLarge = 5px

zIndexCover = 1000

spacing()
  margin-bottom: spacingBase

  &:last-child
    margin-bottom: 0
