colorOffWhite = #f8f8f8
colorLightGray = #ddd
colorPrimaryBlue = #4A90E2
colorHighlight = #f3f3f3

fontFamilyBase = "Avenir", Helvetica, Arial, sans-serif
fontSizeBase = 14px
lineHeightBase = (20 / 14)

transitionBase = 0.2s

spacingBase = 1.5rem
spacingSmall = 0.5rem
