colorOffWhite = #f8f9fa
colorLightGray = #eaebec
colorDarkBlue = #232f41
colorPrimaryBlue = #499AFF
colorHighlight = #f3f4f5
colorGray = #567290

fontColorBase = colorDarkBlue

fontFamilyBase = "Avenir", Helvetica, Arial, sans-serif
fontSizeBase = 15px
fontSizeBaseTablet = 14px
fontSizeBaseMobile = 13px
lineHeightBase = (20 / 14)
lineHeightSmall = (18 / 14)
lineHeightTiny = (16 / 14)

transitionBase = 0.2s
transitionLong = 0.4s

spacingLarge = 3rem
spacingBase = 1.5rem
spacingSmall = 0.5rem

borderRadiusBase = 3px
