dialog()
  position: absolute
  left: 0
  right: 0
  width: fit-content
  height: fit-content
  margin: auto
  border: solid
  padding: 1em
  background: white
  color: black
  display: block
  position: fixed
  top: 50%
  transform: translate(0, -50%)
