@import "./config.styl"

label()
  background: $colorPrimary
  border-radius: 99rem
  color: #fff
  font-size: 0.8125rem
  padding: 0 0.75em
  height: 2em
  display: inline-flex
  align-items: center
  justify-content: center
  font-weight: 600
