@import "./config.styl"
@import "./text.styl"

label()
  background: $colorPrimary
  textCaps()
  border-radius: 99rem
  color: #fff
  display: inline-block
  font-size: 0.8125rem
  padding: 0.5rem 0.875rem
  font-weight: 600
  line-height: 1.2
