@import "./config.styl"
@import "./text.styl"

label()
  background: $colorPrimary
  textCaps()
  border-radius: 99rem
  color: #fff
  border: 3px solid $colorOffWhite
  font-size: 0.875rem
  padding: 0 0.875rem
  height: 2.5em
  display: inline-flex
  align-items: center
  justify-content: center
  font-weight: 600
