optionsList()
  position: absolute
  background: #fff
  box-shadow: rgba(0,0,0,0.1) 0 2px 5px, rgba(0,0,0,0.1) 0 0 0 1px
  width: auto
  left: 0
  top: -999rem
  z-index: zIndexCover
  min-width: 100%
  padding: spacingTiny 0
  font-size: 0.9375rem
  transform: translate(0, 0.5rem) scale(.7, .7)
  opacity: 0
  transition-duration: transitionBase
  transition-property: opacity, transform
  max-height: 50vh
  overflow-y: scroll
  color: fontColorBase

  .-open &
    transform: translate(0, 0) scale(1, 1)
    opacity: 1
    top: 100%

optionsItem()
  padding: spacingTiny spacingBase
  cursor: pointer
  transition: transitionBase
  white-space: nowrap
  display: flex
  align-items: center

  &.-selected
    color: colorPrimaryBlue

  &:hover,
  &:focus
    background: colorHighlight

optionsDivider()
  background: rgba(0,0,0,.1)
  margin-top: spacingTiny
  margin-bottom: spacingTiny
  width: 100%
  height: 1px
