@import "./config.styl"
@import "./text.styl"

tag()
  border: 1px solid currentColor
  textCaps()
  border-radius: 99rem
  line-height: 1
  display: inline-block
  font-weight: 600
  color: $colorPrimary
  line-height: 1.2
  font-size: 11px
  padding: 0.35em 0.8125em
  text-align: center
  white-space: nowrap
