@import "./config.styl"
@import "./text.styl"

tag()
  // border: 1px solid currentColor
  padding: 0.5rem 0.875rem
  border-radius: 99rem
  line-height: 1
  display: inline-block
  color: rgba(0,0,0,.5)
  textSmallCaps()
  font-size: 0.8125rem
  font-weight: 600
  background: rgba(0,0,0,.05)
  line-height: 1.2