@require './config.styl'

textMuted()
  opacity: .5
  font-size: 87.5%

textSmallCaps()
  opacity: .4
  font-size: 80%
  text-transform: uppercase
  font-weight: 600

textTitle()
  font-size: calc(1rem + 1.5vmin)
  line-height: lineHeightTiny
  font-weight: 700

textHeading()
  font-size: 1.3rem
  line-height: lineHeightSmall
  font-weight: 700

textSubheading()
  font-size: 1.15rem
  line-height: lineHeightSmall
  font-weight: 700

textLead()
  font-size: 1.15rem
  line-height: lineHeightSmall
  font-weight: 500
