textMuted()
  opacity: .4
  font-size: 93.75%

textSmallCaps()
  textMuted()
  text-transform: uppercase
  font-weight: 700

textTitle()
  font-size: 2rem
  font-weight: 700

textHeading()
  font-size: 1.5rem
  font-weight: 700

textSubheading()
  font-size: 1.25rem
  font-weight: 700

textLead()
  font-size: 1.25rem
  font-weight: 500
