@require './config.styl'

textSmall()
  font-size: 87.5%

textMuted()
  opacity: .5
  textSmall()

textCaps()
  textSmall()
  text-transform: uppercase
  font-weight: 500
  letter-spacing: 0.05em

textSmallCaps()
  textCaps()
  font-size: 75%

textBigCaps()
  textCaps()
  font-size: 1rem
  font-weight: 600

textTitle()
  font-size: 1.5rem
  font-weight: 600

textHeading()
  font-size: 1.35rem
  line-height: 1
  font-weight: 600

textSubheading()
  font-size: 1.15rem
  line-height: $lineHeightSmall
  font-weight: 600

textLead()
  font-size: 1.15rem
  font-weight: 400

textLink()
  text-decoration: none
  box-shadow: 0 1px 0 currentColor

  button&
    background: transparent
    border: 0
    color: inherit
    padding: 0

  &:hover
    box-shadow: 0 2px 0 currentColor

textMarkdown()
  p, ul, ol
    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

  h2, h3, h4
    margin: 2em 0 1em

  p
    margin: 0.5em 0

  ol, ul
    margin: 0 0 1.5em 1.5em

  li
    padding: 0.25em 0

  ol
    list-style-type: decimal;

  ul
    list-style-type: disc
